.content-nofoot {
/*	display: none;*/
}
.demo-card-wide.mdl-card {
    width: 512px;
    flex-direction: column;
    margin-bottom: 3%;
    text-align: center;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
.demo-card-wide > .mdl-card__title {
	color: #fff;
    height: 176px;
}
.twitter > .mdl-card__title {
    background: url('../images/contact/twitter.jpg') center / cover;
}
.youtube > .mdl-card__title {
    background: url('../images/contact/youtube.png') center / cover;
}
.patreon > .mdl-card__title {
    background: url('../images/contact/patreon.jpg') center / cover;
}
.twitch > .mdl-card__title {
    background: url('../images/contact/twitch.jpg') center / cover;
}
.email > .mdl-card__title {
    background: url('../images/contact/email.jpg') center / cover;
}