.content-nofoot {
	display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.demo-card-wide.mdl-card {
    flex-direction: column;
    text-align: center;
    margin: 1.5%;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
.demo-card-wide > .mdl-card__title {
	color: #fff;
    height: 176px;
}
.twitter > .mdl-card__title {
    background: url('../images/contact/twitter.jpg') center / cover;
}
.youtube > .mdl-card__title {
    background: url('../images/contact/youtube.png') center / cover;
}
.patreon > .mdl-card__title {
    background: url('../images/contact/patreon.jpg') center / cover;
}
.twitch > .mdl-card__title {
    background: url('../images/contact/twitch.jpg') center / cover;
}
.email > .mdl-card__title {
    background: url('../images/contact/email.jpg') center / cover;
}
.facebook > .mdl-card__title {
    background: url('../images/contact/facebook.jpg') center / cover;
}
.google > .mdl-card__title {
    background: url('../images/contact/google.jpg') center / cover;
}
.reddit > .mdl-card__title {
    background: url('../images/contact/reddit.jpg') center / cover;
}
@media (min-width: 2329.38px) {
	.demo-card-wide.mdl-card {
		width: 512px;
	}
}
@media (max-width: 2329.38px) {
	.demo-card-wide.mdl-card {
		width: 19,5%;
	}
}
@media (max-width: 1682.33px) {
	.demo-card-wide.mdl-card {
		width: 42%;
	}
}
@media (max-width: 721px) {
	.demo-card-wide.mdl-card {
		margin: 0px;
		margin-top: 1.5%;
		margin-bottom: 1.5%;
		width: 90%;
	}
}