body {
    background-color: #EFEFEF;
}

.bz {
    display: none;
}
.material-icons.white { color: #ffffff; }

@media (max-width: 360px) {
    #sz {
        display: none;
    }
    .bz {
        display: block;
    }
}
